<div style="text-align:center;">
  <h1>Home Page</h1>
  <p>Access: <%= link_to 'My Blog', controller: 'articles' %></p>

  <p>
    <em>Development:</em> <a href="mailto:andre@andreferle.com.br">andre@andreferle.com.br</a>
  </p>
</div>
