<div style="text-align:center; margin-top:200px;">
  <h2>Obrigado pela sua doação!</h2>
  <h4>O projeto Blog segue adiante graças as suas doações</h4>

  <br/>
  <%= link_to 'Blog', controller: 'articles' %> |
  <%= link_to 'Página Inicial', controller: 'welcome' %>

</div>
